/* reset */
*{
    margin: 0;
    padding: 0;
}
img,input{
    width: 100%;
}
/* HEADER */
header{
    position:relative;
}
header>div{
    width: 100%;
    position: absolute;
    top: 0;
}
header>nav{
    position: relative;
    z-index: 1;
    /* display: flex;
    justify-content: space-between; */
}

/* 
Je doit utiliser les element independament 
pavec relative absolute !!! pas le parent !!! */

#logo,#burger{
    position:absolute;
    z-index: 1;
    padding: 1rem;
    top: 0;

}
#logo{
    left: 0;
}
#burger{
    right: 0;
}
/* MAIN */

section:first-child{
    position: relative;
    z-index: 1;
    top: 17rem;
    margin-bottom: 17rem;
}
#circle-logo{
    display: inline-block;
}
h1{
    margin: auto;
    display: inline;
}